* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Variables */
:root {
  --color-primary:#191d2b;
  --color--secondary: rgb(16, 16, 74);
  --color--white: white;
  --color--black:#0000;
  --color--grey0:#f8f8f8;
  --color--grey1:#dbe1e8;
  --color--grey2:#b2becd;
  --color--grey3:#6c7983;
  --color--grey4:#454e56;
  --color--grey5:#2a2e35;
  --color--grey6:#12181b;
  --br--sm-2:14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .4) ;
}

/*light mode*/
.light-mode {
  --color-primary:#f2f3f6;
  --color--secondary: rgb(10, 10, 11);
  --color--white: rgb(5, 9, 233);
  --color--black:#0000;
  --color--grey0:#4932f1;
  --color--grey1:#054ea1;
  --color--grey2:#340cc4;
  --color--grey3:#101211;
  --color--grey4:#454e56;
  --color--grey5:#2a2e35;
  --color--grey6:#12181b;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  background-color: var(--color-primary);
  transition: all 5s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.5 ease-in-out;
  background-color: var(--color-primary);
}

.section1 {
  display: none;
  transform: translateY(0) scale(1);
}

.section2 {
  display: none;
  transform: translateY(0) scale(1);
}

.section3 {
  display: none;
  transform: translateY(0) scale(1);
}

.section4 {
  display: none;
  transform: translateY(0) scale(1);
}

.section5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 1.3s ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.active-btn {
  background-color: var(--color--secondary) !important;
  transition: all 0.4s ease-in-out;
}

i {
  color: var(--color--grey0) !important;
}

.control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color--grey4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}

i {
  font-size: 1.2rem;
  color: var(--color--grey0);
  pointer-events: none;
}

/*theme *?*/
.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: var(--color--grey4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-5px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var --color--grey2;
  pointer-events: none;
}

/*Header-content*/
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color:var(--color-primary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 45% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 45% 0, 79% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br--sm-2);
  height: 80%;
  width: 50%;
  padding-top: 0rem;
  margin-left: 4rem;
  background-color: black;
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .name span {
  color: var(--color--grey0);
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
  color: var(--color--grey3);
}

/*--------------------------------ABOUT--------------------------------*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  border: 1px solid var var(--color--grey5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color--secondary);
  box-shadow: 1px 4px 15px rgb(17, 15, 15);
}
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color--grey5);
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .progress-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-grey-2);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 50%;
  height: 0.45rem;
  background-color: var(--color--grey4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color--secondary);
  transition: all 0.4s ease-in-out;
  width: 70%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .javascript {
  width: 70%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .java {
  width: 20%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .python {
  width: 45%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .sql {
  width: 50%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .React {
  width: 20%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .firebase {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .next-js {
  width: 20%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .figma {
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .node {
  width: 30%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .php {
  width: 20%;
}
.about-stats .stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.about-stats .stat-title::before {
  content: "";
  left: 50%;
  top: 0;
  width: 40px;
  height: 1px;
  background-color: var(--color--grey5);
  transform: translateX(-50%);
}

/*Timeline Sessions*/
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color--grey5);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color--secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem;
  background-color: var(--color--grey5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--color--grey2);
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline p {
  color: var(--color--grey2);
}

.stat-title-timeline {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.stat-title-timeline::before {
  content: "";
  left: 50%;
  top: 0;
  width: 40px;
  height: 1px;
  background-color: var(--color--grey5);
  transform: translateX(-50%);
}

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.portfolios .portfolio-item .hover-item {
  width: 100%;
  height: 100%;
  background-color: var(--color--secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-item h3 {
  font-size: 1.5rem;
  color: var(--color--white);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-item .icons {
  display: flex;
  justify-content: center;
}
.portfolios .portfolio-item .hover-item .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-item .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-item .icons .icon:hover {
  background-color: var(--color--secondary);
}
.portfolios .portfolio-item .hover-item .icons .icon i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-item {
  opacity: 1;
  transform: scale(1);
}

/*blog session */
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.blogs .blog {
  position: relative;
  background-color: var(--color--grey5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.blogs .blog:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.blogs .blog:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.8);
}
.blogs .blog img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
.blogs .blog .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color--secondary);
}
.blogs .blog .blog-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.blogs .blog .blog-text h4:hover {
  color: var(--color--secondary);
}
.blogs .blog .blog-text p {
  color: var(--color--grey2);
  line-height: height 2rem;
  padding-bottom: 1rem;
}

.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color--grey0);
  background-color: var(--color--grey5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color--grey3);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color--grey5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

/*independent components*/
.btn-container {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 50px;
  color: inherit;
  font-weight: 700;
  position: relative;
  border: 2px solid var(--color--grey1);
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.6s ease-in-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.6s ease-in-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color--secondary);
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  color: var(--color--grey0);
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color--secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color--grey5);
  z-index: -1;
  transform: translate(-50%, -50%);
  font-size: 4.3rem;
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  header {
    padding: 4px;
  }
  header .right-header {
    padding: 2rem !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.3rem !important;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
    grid-template-columns: 1fr;
  }
  .section {
    padding: 2rem 2.5rem !important;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color--grey5);
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
}